@use 'variables';

.recipe-card {
    background-color: variables.$white;
    width: 100%;
    max-width: 737px;
    border-radius: 0 0 25px 25px;
    color: variables.$stone-600;
    padding: 0px 41px 28px 41px;

    @media screen and (max-width: 390px) {
      padding-left: 32px;
      padding-right: 32px;
      border-radius: 0 0 0 0;
    }
      &__header {
        @media screen and (max-width: 390px) {
          padding-bottom: 22px;
        }
      }

      &__time {
        background-color: variables.$rose-50;
        border-radius: 12px;
        padding-left: 27px;
        padding-top: 25px;
        padding-bottom: 25px;

        @media screen and (max-width: 390px) {
          border-radius: 0;
          padding: 22px 20px 15px 23px;
          border-radius: 12px;
        }
      }
      &__subheading {
        &--highlighted {
            color: variables.$rose-800;
            font-family: variables.$main-font;
            letter-spacing: 0.3px;
            font-size: 1.2rem;
        }
      }

      &__time-list {
        list-style-position: outside;
        padding-left: 13px;
        padding-top: 10px;

        @media screen and (max-width: 390px) {
          padding-top: 14px;
        }
      }

      &__time-list-item {
        padding-left: 27px;
        line-height: 2em;
        
        &::marker {
            content: '•';
            color: variables.$rose-800;
            font-size: 18px;
        }

        @media screen and (max-width: 390px) {
          line-height: 24px;
          padding-bottom: 8px;
        }
      }
  }